@{
  Layout = "_Layout";
}

@model Box.Models.Recipe

<h2>@Html.DisplayFor(model => model.RecName)</h2>
<br>
<br>
@foreach (var join in Model.MealTypes)
{
  <h3>@join.MealType.Name</h3>
}
<br>
<br>
<h4>@Html.DisplayFor(model => model.RecDesc)</h4>
<br>
<br>
<h5>@Html.DisplayFor(model => model.RecInst)</h5>
<br>
<br>

@Html.ActionLink("Add Instructions and Ingredients", "AddInst")
@Html.ActionLink("Back to recipes", "Index")
