@{
  Layout = "_Layout";
}

@model Box.Models.Recipe

<h2>@Html.DisplayFor(model => model.RecName)</h2>
<br>
@foreach (var join in Model.MealTypes)
{
  <h3>@join.MealType.Name</h3>
}
<br>
<h4>@Html.DisplayFor(model => model.RecDesc)</h4>
<br>
@foreach (var join in Model.Ingredients)
{
  <h4>Qty: @join.Ingredient.Quantity x @join.Ingredient.Name: @join.Ingredient.Prep</h4>
}

<br>
<h5>@Html.DisplayFor(model => model.RecInst)</h5>
<br>

@Html.ActionLink("Add Ingredients", "AddIngredients")
@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })
@Html.ActionLink("Back to Recipes", "Index")
