@{
  Layout = "_Layout";
}

@model Box.Models.Recipe
@using Box.Models
@using System.Security.Claims

<p>Hello @User.Identity.Name!</p>

<h2>@Html.DisplayFor(model => model.RecName)</h2>
<br>
@foreach (var join in Model.MealTypes)
{
  <h3>@join.MealType.Name</h3>
}
<br>
<h4>@Html.DisplayFor(model => model.RecDesc)</h4>
<br>
@foreach (Ingredient ingredient in Model.Ingredients)
{
  <h4>Qty: @ingredient.Quantity x @ingredient.Name: @ingredient.Prep</h4>
}

<br>
<h5>@Html.DisplayFor(model => model.RecInst)</h5>
<br>

<hr />
@Html.ActionLink("Add Ingredients", "Create", "Ingredients", new { id = Model.RecipeId })
@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })
@Html.ActionLink("Back to Recipes", "Index")
