@{
  Layout = "_Layout";
}

@using Box.Models;
@model IEnumerable<Box.Models.Recipe>;

<h1>@User.Identity.Name's Recipes</h1>
<hr />
@if (@Model.Any())
{
  @foreach (Recipe recipe in Model)
  {
    <p>@Html.ActionLink($"{recipe.RecName}", "Details", new { id = recipe.RecipeId })</p>
  }
}
else
{
  <p>No Recipces Added Yet</p>
}
<hr />
<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>