@{
  Layout = "_Layout";
}

@using Box.ViewModels
@model RegisterViewModel
<h2>Register New User</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <div class="form-group">
    @Html.Label("Email Address")
    @Html.TextBoxFor(user => user.Email, new { @class="form-control", required=true })
  </div>
  <div class="form-group">
    @Html.Label("Password - must have 6 characters, a capital letter, a number, and a symbol")
    @Html.TextBoxFor(user => user.Password, new { @class="form-control", @type="password", required=true })
  </div>
  <div class="form-group">
    @Html.Label("Confirm Password")
    @Html.TextBoxFor(user => user.ConfirmPassword, new { @class="form-control", @type="password", required=true })
  </div>
  <input type="submit" value="Sign Up" class="btn btn-default"/>
}