@{
  Layout = "_Layout";
}

@model Box.Models.Ingredient

<h3>Add a new ingredient to @ViewBag.Recipe</h3>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.Label("Ingredient")
    @Html.TextBoxFor(model => Model.Name, new { @class="form-control" })
  </div>
  <div class="form-group">
    @Html.Label("Quantity")
    @Html.TextBoxFor(model => Model.Quantity, new { @class="form-control" })
  </div>

  <input type="submit" class="btn btn-primary">
}
